div.NavMenu {
background-color:black;
padding: .5em 0;
color:white;
}

div.NavMenu ul {
margin: 0;
padding: 0;
}

div.NavMenu li {
display:inline;
list-style:none;
margin: .5em 0;
}

div.NavMenu li a {
font-weight: normal;
text-decoration: none;
color: white;
padding: .25em .5em;
margin-left: .25em;
cursor:pointer;
}

div.NavMenu li a:hover {
color: white;
background-color: #777;
}

div.NavMenu li a.currentPage {
background-color: white;
color: black;
padding-bottom: .5em;
font-weight: bold;
}
